<% layout('page') -%>
<% block('title', "Please select room to play") -%>

<div data-role="content">	
	<ul id="roomList" data-role="listview">					
	</ul>
</div><!-- /content -->
<script src="js/room.js"></script>