<% layout('page') -%>
<% block('title', "Please select room to play") -%>

<div data-role="header" data-theme="a" data-position="fixed" name="room">
	<h1>Bingo! Rooms <span id="onlineUserCount"></span></h1>

<a href="/login" class="backToRoomPage" class="ui-btn-right">Войти</a>

</div><!-- /header -->

<div data-role="content">	
	<ul id="roomList" data-role="listview">					
	</ul>
</div><!-- /content -->
<script src="js/room.js"></script>

	

