 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <% if (user) { %>
        <%=user.username%>
        <% } else { %>
        Bingo!
        <% } %>	</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Главная</a></li>
      <% if (user) { %>
      <li><a href="/room">Комнаты</a></li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    
    <% if (user) { %>
    <li><a href="" onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></form></li>
    <% } else { %>
    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
    <% } %>
    </ul>
  </div>
</nav>